/* Header */
header {
  text-align: center;
}

/* Navbar */
nav {
  text-align: center;
  background-color: black;
  padding: 5px;
}

nav a {
  color: white;
  padding: 10px;
}

/* Main Content */
.container {
  display: flex;
  margin: 20px;
}

.container table {
  margin-left: 20px;
}

/* Footer */
footer {
  text-align: center;
  background-color: black;
  color: white;
  padding: 1px;
}
